.footer{
    color: white;
    background-color: rgba(12, 12, 12, 0.653);
}
.footer-title p{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.copy-right{
    border-top: 1px solid white;
}